body {
  background-color: #005C6F;
}

.top-bar {
  position: fixed; /* Set the position to fixed */
  top: 0; /* Align the top of the bar with the top of the viewport */
  left: 0; /* Align the left of the bar with the left of the viewport */
  width: 100%; /* Make the bar span the full width of the viewport */
  background-color: #333; /* Dark background color */
  color: #00CEF7; /* Text color */
  padding: 5px 20px; /* Add padding to top and bottom */
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Align items to start and end */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Set a high z-index to ensure the bar appears above other content */
}

/* Style for the title */
.title {
  flex: 1; /* Make the title grow to fill available space */
  text-align: center; /* Center align the title */
}

/* Style for the navigation links */
.nav-links {
  display: flex; /* Use flexbox layout */
  margin-right: 10px; /* Add margin to the right side of the first set of links */
  margin-left: 10px;
}

.nav-links a {
  color: #00CEF7; /* Text color */
  text-decoration: none; /* Remove underline */
  margin: 0 5px; /* Add spacing between links */
}

.nav-links a:hover {
  text-decoration: underline; /* Underline on hover */
}